<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/style.css"> this won't work 
    we need to remove public

    app.use(express.static('./public')) as we have written public here, whatever path 
    we'll give a public would added to it in the front that's why we don't need to 
    give public

-->

    
    <link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>
    <h3> <%=age%> </h3> <!--we are changing it in index.js-->
    <p>Hi, what's up bro</p>
    
</body>
</html>